.App {
  text-align: center;
}
.Person {
  color: black;
  padding: 5px;
  border: burlywood;
  border-color: crimson;
  border-width: 1px;
  height: 8px;
  width: 30;
  background-color: cornsilk;
  margin: 10px;
  border-radius: 20;
}
.UserInput {
  background: cornsilk;
  height: 30px;
  width: 30%;
  padding: 10px;
  border-radius: 25px;
  margin: 20px;
  border-color: darkblue;
}
.UserOutPut {
  text-align: center;
  font-weight: bold;
  color: #282c34;
  border: 2px solid darkgray;
  border-radius: 25px;
  margin: 10px;
  padding: 30px;
  width: 60%;
  background: bisque;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
